body {
  background: #e6e6e6;
  text-align: center;
  color: #191919;
}
h1, h2, h3, a{
  font-family: 'Economica', sans-serif;
}
p{
  font-family: 'Montserrat', sans-serif;
}

/* Nav */

nav{
  background: #191919;
  color: #9ab5dd;
  font-size: 18px;
}
nav a{
  color: #9ab5dd;
}
nav a:hover{
  color: #553f91;
}
nav button{
  color: #9ab5dd;
}
nav button span{
  background-image: url(img/menu.svg) !important;
}

/* Header */

header img{
  max-width: 40% !important;
  padding-top: 3vw;
}
.col-centered{
  float: none;
  margin: 0 auto;
}



/* Contents */

.shadow-p{
  box-shadow: 0px 0px 20px 1px rgba(19, 19, 19, 0.1);
  padding: 5px 10px 15px 10px;
  margin-top: 80px;
  margin-bottom: 50px;
}

.btn{
  background-color: #553f91;
  color: #e6e6e6;
}
.btn:hover{
  background-color: #9ab5dd;
  color: #191919;
}
.timeline-Widget{
  margin: auto !important;
}



/* Footer */

.footer a{
  margin-right: 15px;
  color: white;
}